<html lang="zh-CN">

<head>
    <link href="/static/assets/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/assets/css/chat.css" rel="stylesheet"/>
</head>

<body>
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray">Error 403</h6>
                <h4 class="card-title">
                    Access Denied - please authenticate
                </h4>
                <a href="{{ url_for('authentication_blueprint.login') }}" class="btn btn-primary btn-round">Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

